ul#sideBarMenu.sidebar-menu(data-widget='tree')
    li.header MENU
    li#menuCompanies.hide
        a(href='#!/companies', title="Empresas")
            i.fa.fa-th
            span Empresas
    li
        a(href='#', title="Sair", onclick="logout()")
            i.fa.fa-arrow-left
            span Sair