ul#sideBarMenu.sidebar-menu(data-widget='tree')
    li.header MENU
    li#menuCompanies.hide
        a(href='#!/companies', title="Empresas")
            i.fa.fa-th
            span Empresas
     li#menuUsers.hide
        a(href='#!/users', title="Usuários")
            i.fa.fa-users
            span Usuários
    li
        a(href='#', title="Sair", onclick="logout()")
            i.fa.fa-arrow-left
            span Sair