.navbar-custom-menu
    ul.nav.navbar-nav
        // Messages: style can be found in dropdown.less
            li.dropdown.messages-menu
                include togglemenu/messages.pug
        // Notifications: style can be found in dropdown.less
            li.dropdown.notifications-menu
                include togglemenu/notifications.pug
        // Tasks: style can be found in dropdown.less
            li.dropdown.tasks-menu
                include togglemenu/tasks.pug
        // User Account: style can be found in dropdown.less
            li.dropdown.user.user-menu
                include togglemenu/users.pug