<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Usuários
        <small>Usuários</small>
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#!/dashboard"><em class="fa fa-dashboard"></em>Home</a>
        </li>
        <li>
            <a href="#!/users"><em class="fa fa-users"></em>Usuários</a>
        </li>
        <li class="active">Usuários</li>
    </ol>
</section>
<!-- Main content -->
<section class="content">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">Usuários registrados</h3>
            <div class="pull-right" ng-if="_accessLevel === 'ADMIN'">
                <button
                    type="button"
                    class="btn btn-primary"
                    ng-click="eventNew();"
                >
                    Cadastrar
                </button>
            </div>
        </div>
        <div class="box-body table-responsive no-padding">
            <table class="table table-bordered" title="tabel">
                <thead>
                    <tr>
                        <th class="text-center" scope="row">#</th>
                        <th class="text-center" scope="row">Criado em</th>
                        <th class="text-center" scope="row">Último acesso</th>
                        <th class="text-center" scope="row">Status</th>
                        <th class="text-center" scope="row">Nível de acesso</th>
                        <th class="text-center" scope="row">E-mail</th>
                        <th class="text-center" scope="row">Colaborador</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in itens">
                        <td>
                            <div class="btn-group">
                                <button
                                    type="button"
                                    class="btn btn-default dropdown-toggle btn-xs"
                                    data-toggle="dropdown"
                                >
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-if="_accessLevel === 'ADMIN'">
                                        <a
                                            class="btn"
                                            ng-href="#!/users/edit/{{
                                                item._id
                                            }}"
                                            >Editar</a
                                        >
                                    </li>
                                    <li>
                                        <a
                                            class="btn"
                                            ng-href="#!/users/view/{{
                                                item._id
                                            }}/true"
                                            >Visualizar</a
                                        >
                                    </li>
                                    <li ng-if="_accessLevel === 'ADMIN'">
                                        <a
                                            class="btn"
                                            ng-click="eventDelete(item);"
                                            >Excluir</a
                                        >
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td class="text-center">
                            {{ item.createdAt | date: "dd/MM/yyyy HH:mm:ss" }}
                        </td>
                        <td class="text-center">
                            {{ item.lastLogin | date: "dd/MM/yyyy HH:mm:ss" }}
                        </td>
                        <td
                            class="text-center bg bg-success"
                            ng-if="item.active"
                        >
                            Ativo
                        </td>
                        <td
                            class="text-center bg bg-danger"
                            ng-if="!item.active"
                        >
                            Inativo
                        </td>
                        <td
                            class="text-center"
                            ng-if="item.accessLevel == 'ADMIN'"
                        >
                            Administrador
                        </td>
                        <td
                            class="text-center"
                            ng-if="item.accessLevel == 'MANAGER'"
                        >
                            Gerente
                        </td>
                        <td
                            class="text-center"
                            ng-if="item.accessLevel == 'OPERATOR'"
                        >
                            Operador
                        </td>
                        <td>{{ item.email }}</td>
                        <td class="text-center" ng-if="!item.employee">
                            {{ item.name }}
                        </td>
                        <td class="text-center" ng-if="item.employee">
                            {{ item.employee.name }}
                        </td>
                    </tr>
                    <tr ng-if="itens.length == 0">
                        <td class="text-center" colspan="8">
                            Nenhum usuário registrado
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="clearfix">
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </div>
        </div>
        <div class="box-footer clearfix" ng-if="pages.length > 0">
            <ul class="pagination pagination-sm no-margin pull-right">
                <li ng-repeat="page in pages">
                    <a class="btn" ng-click="paginateNext(page);">{{ page }}</a>
                </li>
            </ul>
        </div>
        <div class="overlay" ng-if="showLoading">
            <em class="fa fa-refresh fa-spin"></em>
        </div>
    </div>
</section>
<!-- /.content -->
